- if @invited || !@iPhone
  Sorry, we are currently only running a beta for iPhone users. We will e-mail you as soon as we start Android tests.
- else
  Thank you for signing up to the beta, we will e-mail you as soon as a slot opens.
