%div#analyticscontainer
  %div#analyticsmenu.split
    %div
      Queries:
      %select#queries
      %button#reloadqueries Reload
    %div
      View
      %select#views
      %button#reloadviews Reload

  %div.split
    %div#querycontainer
      Query
      %a#togglequery Toggle
      %div#queryedit
        %input#queryname
        %br
        %p#queryline
        %textarea#querytextarea
        %p#queryerror
        %button#savequery Save
      %button#runquery Run
    %div#viewcontainer
      View
      %a#toggleview Toggle
      %div#viewedit
        %input#viewname
        %br
        %p#viewline
        %textarea#viewtextarea
        %p#viewerror
        %button#saveview Save
      %button#runview Run

  %div#resultcontainer
    Raw result
    %a#toggleresult Toggle
    %div#rawresult
      %textarea#resulttextarea

  %div#chart


:javascript
  var queries = {};
  var views = {};
  var result;

  jQuery(function() {
    fetchQueries();
    fetchViews();
    
    $('#queries').on('change', function() {
      var query = queries[$(this).val()] || {'_id':'New', 'sql' : {}};
      $('#queryname').val(query._id);
      $('#querytextarea').val(query.sql);
    });

    $('#reloadqueries').on('click', function() {
      fetchQueries();
    });

    $('#views').on('change', function() {
      var view = views[$(this).val()] || {'_id':'New', 'script' : ''};
      $('#viewname').val(view._id);
      $('#viewtextarea').val(view.script)
    });

    $('#reloadview').on('click', function() {
      fetchViews();
    });

    $('#togglequery').on('click', function() {
      $('#queryedit').toggle();
    });
    $('#queryedit').toggle();

    $('#toggleview').on('click', function() {
      $('#viewedit').toggle();
    });
    $('#viewedit').toggle();

    $('#toggleresult').on('click', function() {
      $('#rawresult').toggle();
    });
    $('#rawresult').toggle();

    $('#savequery').on('click', function() {
    
      $.ajax({
        url: '/analytics/queries/' + $('#queryname').val(),
        type: 'PUT',
        contentType: 'plain/text',
        data: $('#querytextarea').val(),
        success: fetchQueries
      });
    
    });

    $('#runquery').on('click', function() {
    
      $.get('/analytics/events/' + $('#queryname').val(), function(d) {
        result = d;
        $('#resulttextarea').html(JSON.stringify(d));
      });
    
    });

    $('#saveview').on('click', function() {
    
      $.ajax({
        url: '/analytics/views/' + $('#viewname').val(),
        type: 'PUT',
        contentType: 'plain/text',
        data: $('#viewtextarea').val(),
        success: fetchViews
      });
    
    });

    $('#runview').on('click', function() {
      eval($('#viewtextarea').val())
    });

    $('#querytextarea').on('focusout', function() {
      return;
      var lint = JSONLint( $('#querytextarea').val() );
      if (lint.error) {
        $('#queryerror').html( '<b>' + lint.error + '</b> on line ' + lint.line + ':' + lint.character  );
      } else {
        $('#queryerror').html('');
      }
    });

    $('#querytextarea').on('click keyup', function() {
      $('#queryline').html('Line ' + getline('#querytextarea'));
    });
    
    $('#viewtextarea').on('focusout', function() {
      var errors = [];
      if (!JSHINT.jshint( $('#viewtextarea').val() )) {
        $(JSHINT.errors).each(function(i,hint) {
          errors.push( '<b>' + hint.reason + '</b> on line ' + hint.line + ':' + hint.character  );
        });
      }
      $('#viewerror').html(errors.join('<br/>'));
    });

    $('#viewtextarea').on('click keyup', function() {
      $('#viewline').html('Line ' + getline('#viewtextarea'));
    });
  });

  function fetchQueries() {
    $.get('/analytics/queries', function(d) {
      queries = {};
      var options = [ '<option value=\"new\">New</option>' ];
      $(d).each(function(i,e) {
        options.push('<option value=\"' + e._id + '\">' + e._id + '</option>');
        queries[e._id] = e;
      });
      $('#queries').html(options.join('\n'));
    });
  }

  function fetchViews() {
    $.get('/analytics/views', function(d) {
      views = {};
      var options = [ '<option value=\"new\">New</option>' ];
      $(d).each(function(i,e) {
        options.push('<option value=\"' + e._id + '\">' + e._id + '</option>');
        views[e._id] = e;
      });
      $('#views').html(options.join('\n'));
    });
  }

  function getline(selector)
  {
      var t = $(selector)[0];
      return t.value.substr(0, t.selectionStart).split("\n").length;
  }
