.split > * {
  width: 50%;
  float: left;
}

#analyticscontainer {
  padding: 15px;
}

div.chart{
  font-family:sans-serif;
  font-size:0.7em;
}

div.bar {
  background-color:Green;
  color:white;
  height:3em;
  line-height:3em;
  padding-right:1em;
  margin-bottom:2px;
  margin-left:10px;
  text-align:right;
}

div.label {
  height:3em;
  line-height:3em;
  padding-right:1em;
  margin-bottom:2px;
  float:left;
  width:20em;
  text-align:right;
}
