%h1 
  Welcome to Race Yourself's beta program, #{@email}!
%p 
  Please confirm your account details through the link below:
  %br
  = link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token)
%p
  To join the beta sign in at the forum below:
  %br
  %a{:href => 'http://beta.raceyourself.com'}
    beta.raceyourself.com
%p
  %small
    If you are receiving this e-mail without having signed up for the Race Yourself beta, please contact us at postmaster@raceyourself.com and we will remove you from our database.
